.birthdate_container{
    padding: 0 52px;
}

.birthdate_box {
    padding: 0 71px;
}
.birthdate_note{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B2B3B5;
    margin: 0 0 16px;
}

.divider_line {
    margin: 40px 40px 24px;
    height: 0;
    border-top: 1px solid #E5E8EB;
}
.birthdate_next_btn{
    display: flex;
    justify-content: center;
    padding: 11px 32px;
    background: #F76448;
    border-radius: 16px;
    border: none;
    margin: 24px 0 16px;
    width: -webkit-fill-available;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}
.birthdate_back_btn{
    margin: 0 auto;
    max-width: max-content;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #212B36;
}

